*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


html, body{
    height: 100%;
    width: 100%;
}

#nav{
    height: 50px;
    width: 100%;
    background-color: rgb(42, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
}

#nav h4 {
    font-size: 13px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#center {
    height:80%;
    width: 100%;
    padding: 45px;
    background-color: black;
    text-align: center;
    background-image: url(apple1.jpeg);
    background-size: cover;
    background-position: center;
}

#center h1{
    color: white;
    font-size:65px;
    font-family: Arial, Helvetica, sans-serif;
}

#center h5{
    color: white;
    font-size:43px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    padding: 17px;
}   

#links button {
    padding: 10px 24px;
    font-weight: 300px;
    color: white;
    background-color: royalblue;
    border-radius: 50px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

#center2 {
    height: 70%;
    width:100%;
    background-color: rgb(236, 236, 236);
    text-align: center;
    margin-top: 10px;
    background-image: url(apple2.jpg);
    background-size: cover;
    background-position: center;
}

#center2 h1 {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
}

.subhead h5 {
    font-size:40px;
    font-weight: 280;
    font-family: Arial, Helvetica, sans-serif;
}



